/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.counter {
  display: flex;
}

.counterContent {
  margin: 0 10px;
  padding: 0px 10px;
  width: 40px auto;
  text-align: center;
  border-style: ridge;
}

.counterButton {
    font-size: larger;
    width: 28px;
}